<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="已导入的规则 1" stopProcessing="true">
                    <match url="^sitemap.xml$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="index.php?route=feed/google_sitemap" appendQueryString="false" />
                </rule>
                <rule name="已导入的规则 2" stopProcessing="true">
                    <match url="^googlebase.xml$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="index.php?route=feed/google_base" appendQueryString="false" />
                </rule>
                <rule name="general" stopProcessing="true">
                    <match url="^general/(\d+)/(\d+)/([0-9])_(.*)" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="admin2013/admin/index.php?route=cgeneral/echo&amp;regu_id={R:1}&amp;general_id={R:2}&amp;cmd={R:3}&amp;token={R:4}" appendQueryString="true" />
                </rule>
                <rule name="已导入的规则 3" stopProcessing="true">
                    <match url="^([^?]*)" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern=".*\.(ico|gif|jpg|jpeg|png|js|css)" ignoreCase="false" negate="true" />
                        <add input="{URL}" matchType="Pattern" pattern=".*return_url.php" ignoreCase="true" negate="true" />
                        <add input="{URL}" matchType="Pattern" pattern=".*notify_url.php" ignoreCase="true" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php/{R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
        <staticContent>
            <mimeMap fileExtension=".m3u8" mimeType="application/x-mpegURL" />
            <mimeMap fileExtension=".ts" mimeType="video/MP2T" />
			<mimeMap fileExtension=".mp4" mimeType="video/mp4" />
			<mimeMap fileExtension=".key" mimeType="text/html" />
        </staticContent>            
    </system.webServer>
</configuration>
